<div class="container">

	<div class="card mt-4">
		<mat-tab-group>
			<mat-tab label="My">
				<div class="container mt-3 mb-3">
					<table [dataSource]="myDocs$" mat-table>
						<ng-container matColumnDef="creator">
							<th *matHeaderCellDef mat-header-cell>Creator</th>
							<td *matCellDef="let doc" mat-cell>{{ doc.creator }}</td>
						</ng-container>

						<ng-container matColumnDef="text">
							<th *matHeaderCellDef mat-header-cell>Text</th>
							<td *matCellDef="let doc" mat-cell>{{ doc.text }}</td>
						</ng-container>
						<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
						<tr *matRowDef="let doc; columns: displayedColumns" mat-row></tr>
					</table>
				</div>
			</mat-tab>
			<mat-tab label="All">
				<div class="container mt-3 mb-3">
					<table [dataSource]="allDocs$" mat-table>
						<ng-container matColumnDef="creator">
							<th *matHeaderCellDef mat-header-cell>Creator</th>
							<td *matCellDef="let doc" mat-cell>{{ doc.creator }}</td>
						</ng-container>

						<ng-container matColumnDef="text">
							<th *matHeaderCellDef mat-header-cell>Text</th>
							<td *matCellDef="let doc" mat-cell>{{ doc.text }}</td>
						</ng-container>
						<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
						<tr *matRowDef="let doc; columns: displayedColumns" mat-row></tr>
					</table>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
