<div class="container d-flex justify-content-center">
	<mat-card class="login-container">
		<h2>Sign In Form</h2>
		<form [formGroup]="userLoginForm">
			<mat-form-field>
				<mat-label>Username</mat-label>
				<input formControlName="username" matInput>
				<mat-hint>For display purposes only.</mat-hint>
				<mat-error
					*ngIf="userLoginForm.controls?.['username']?.errors && userLoginForm.controls?.['username']?.touched">
					Please enter a valid username
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>First name</mat-label>
				<input formControlName="firstName" matInput>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Last name</mat-label>
				<input formControlName="lastName" matInput>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input formControlName="email" matInput>
				<mat-error
					*ngIf="userLoginForm.controls?.['email']?.errors && userLoginForm.controls?.['email']?.touched">
					Please enter a valid email
				</mat-error>
			</mat-form-field>
			<div>
				<app-button
					(click)="submit()"
					[disabled]="userLoginForm.invalid"
					[type]="'submit'"
				>
					Sign In
				</app-button>
			</div>
		</form>
	</mat-card>
</div>


