@import "../../../variables.scss";


.login-container {
	width: 300px;
	padding: 20px;
	background-color: $secondary-color;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	h2 {
		margin-bottom: 20px;
		font-size: 1.5rem;
	}

	mat-form-field {
		margin-bottom: 1rem;
	}

}
