<div class="container d-flex justify-content-center">
	<ng-container *ngIf="authService.user$ | async as user; else login">
	<pre>
		{{ user | json }}
  	</pre>

		<hr>
		<button (click)="authService.signOut()" class="mat-mdc-button">Sign Out</button>

	</ng-container>
</div>
<ng-template #login>
	<app-button
		(click)="authService.googleSignIn()"
	>
		<span class="d-inline-flex align-items-center">
			Google login
			<i class="fa-brands fa-google mx-2"></i>
		</span>
	</app-button>
</ng-template>
