<div class="container">
	<h4 mat-dialog-title>Upload your file here</h4>

	<mat-dialog-content class="mat-typography pt-2">
		<form [formGroup]="uploadForm">
			<mat-form-field>
				<mat-label>Description</mat-label>
				<textarea formControlName="text" matInput rows="1"></textarea>
				<mat-error
					*ngIf="uploadForm.controls?.['text']?.errors && uploadForm.controls?.['text']?.touched">
					Required.
				</mat-error>
			</mat-form-field>
			<button (click)="fileInput.click()" mat-raised-button type="button">Choose File</button>
			<input #fileInput
				   (change)="onFileSelected($event)"
				   accept="image/png, image/gif, image/jpeg"
				   formControlName="fileInput"
				   hidden
				   id="file"
				   type="file">
			<span class="ms-3">{{ file?.name }}</span>
		</form>
	</mat-dialog-content>

	<mat-dialog-actions class="justify-content-between">
		<app-button (click)="closeModal('Close click')"
					[disabled]="uploadForm.disabled"
					[type]="'button'"
		>
			Close
		</app-button>
		<app-button (click)="onSubmit()"
					[disabled]="uploadForm.disabled || uploadForm.invalid"
					[type]="'submit'"
		>
			Save
		</app-button>

	</mat-dialog-actions>

	<div *ngIf="this.docsService.percentage | async as pct"
		 class="mat-mdc-form-field-flex justify-content-center mt-2"
	>
		<div *ngIf="pct != 100">
			<progress [value]="pct" max="100"></progress>
			{{ pct | number }}%
		</div>
	</div>

</div>
