/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "variables.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

html, body {
	height: 100%;
	//--mdc-filled-text-field-focus-label-text-color: $primary-color;
	//--mdc-filled-text-field-focus-active-indicator-color: $primary-color
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Override bootstrap variables
:root {
	--bs-primary-rgb: 255, 167, 19;
	--bs-link-hover-color-rgb: 245, 129, 10;
	// todo find right variable to override
	//--mdc-filled-text-field-focus-label-text-color: 255, 167, 19;
}

