<div class="container">

    <div class="card mt-4">
        <mat-tab-group>
            <mat-tab label="My">
                <!--    <div *ngFor="">-->
                <div class="container mt-3 mb-3">
                    <img alt="image" src="">
                    <app-button
                        (click)="deleteImg()"
                        classList="float-end"
                    >
                        <i class="fa-solid fa-trash-can"></i>
                    </app-button>
                </div>
                <!--    </div>-->
            </mat-tab>
            <mat-tab label="All">
                <!--    <div *ngFor="">-->
                <div class="container mt-3 mb-3">
<!--                    <app-button-->
<!--                        *ngIf="admin"-->
<!--                        (click)="deleteImg()"-->
<!--                    >-->
<!--                        <i class="fa-solid fa-trash-can"></i>-->
<!--                    </app-button>-->
                    <img alt="image" src="">
                </div>
                <!--    </div>-->
            </mat-tab>
        </mat-tab-group>

    </div>
</div>