<h4 mat-dialog-title>Upload your file here</h4>

<mat-dialog-content class="mat-typography pt-2">
	<form [formGroup]="uploadForm">
		<mat-form-field>
			<mat-label>Description</mat-label>
			<textarea formControlName="entry" matInput rows="1"></textarea>
		</mat-form-field>
		<input (change)="onFileChanged($event)"
			   [disabled]="uploadForm.disabled"
			   accept="image/png, image/gif, image/jpeg"
			   type="file">
	</form>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
	<app-button (click)="closeModal('Close click')"
				[disabled]="uploadForm.disabled"
				[type]="'button'"
	>
		Close
	</app-button>
	<app-button (click)="onSubmit()"
				[disabled]="uploadForm.disabled"
				[type]="'submit'"
	>
		Save
	</app-button>

</mat-dialog-actions>

<!--TODO dodaj spinner ko se loada-->
