<ng-container *ngIf="authService.signedIn$ | async else loading">
	<div class="container">
		<h1>
			Welcome <b *ngIf="authService.isAdmin">admin </b>
			<b *ngIf="!(authService.isAdmin)">user </b>
			with id <b>{{ authService.userKey }}.</b>
		</h1>
	</div>

	<div class="container">
		<app-button
			(click)="openModal()"
		>
			Add image
		</app-button>
	</div>

	<display-content></display-content>
</ng-container>

<ng-template #loading>
	<div class="container">
		<h1>Loading...</h1>
	</div>
</ng-template>
