rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Backend auth security
     match /users/{userId} {
        allow write, read: if isOwner(userId);
    }

    function isOwner(userId) {
        return request.auth.uid == userId
    }

  	// Backend role-based auth security
    match /entries/{entryId} {
    	allow read, create: if loggedIn()
    	allow delete: if isAdmin() || isEntryOwner(entryId)
    }

    function loggedIn() {
    	return request.auth != null
    }

    function isEntryOwner(entryId) {
      return request.auth.uid == get(/databases/$(database)/documents/entries/$(entryId)).data.uid
    }

    function isAdmin() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    }
  }
}
