<ng-container *ngIf="authService.user$ | async as user; else signInAgain">
	<div class="container">
		<h1>
			Welcome <b>{{ user.displayName }}</b>. <br>
			You are logged in as
			<b *ngIf="user.admin">admin</b>
			<b *ngIf="!user.admin">user</b>
			with ID <b>{{ user.uid }}</b>.
		</h1>
	</div>

	<div class="container">
		<app-button
			(click)="openModal()"
		>
			Add image
		</app-button>
	</div>


	<display-content
		[uid]="user.uid"
	></display-content>
</ng-container>

<ng-template #signInAgain>
	<div class="container">
		<h1>Session has expired. Sing in again.</h1>
	</div>
</ng-template>
